
@keyframes loader-animation {
  0% {
      left: -100%;
  }
  49% {
      left: 100%;
  }
  50% {
      left: 100%;
  }
  100% {
      left: -100%;
  }
}
.loader {
  height: 5px;
  width: 100%;
  overflow: hidden;
  margin-top: 55px;
}
.loader .bar {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: dodgerblue;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.wrapper2 select {
  width: 240px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  padding: 5px 12px 5px 12px;
  margin-left: 25px;
  margin-top: 55px;
}
.wrapper {
    margin-top: 54px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 100px;
  }

  .new-element {
    margin: 0px 25px 0px 40px;
}

@media only screen and (max-width: 768px) {

    .wrapper {
        margin-top: 54px;
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        grid-auto-rows: 100px;
      }

      .new-element {
        margin: 0px 25px 0px 40px;
    }
    




  }
@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
    
   

    



}