.new  {
    display: flex;
    border-radius: 6px;
    border: solid 1px #979797;
    justify-content: space-between;
    column-gap: 5px;
    text-decoration: none;
    color: #606060;
}


 .new  .time-information {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    padding-left: 15px;
    padding-bottom: 14px;
    font-size: 11px;
}

.new  .time-information .clock-icon img {
    width: 16px;
    height: 16px;
}

 .new  .title {
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 23px;
}



 .new  .heart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 22px 13px 22px;
    background-color: #ececec;
}

 .new  .heart-icon img {
    width: 24px;
    height: 22px;
}







@media only screen and (max-width: 1200px) {

    .new  {
        display: flex;
        border-radius: 6px;
        border: solid 1px #979797;
        justify-content: space-between;
        column-gap: 5px;
    }

    a  {
        text-decoration: none;
        color: #606060;
     }

    a:hover {
        color: #0000;
    }
    

     .new  .time-information {
        margin-top: 16px;
        display: flex;
        gap: 10px;
        padding-left: 15px;
        padding-bottom: 14px;
        font-size: 11px;
    }

    .new  .time-information .clock-icon img {
        width: 16px;
        height: 16px;
    }

     .new  .title {
        padding-left: 15px;
        font-size: 14px;
        margin-bottom: 23px;
    }



     .new  .heart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 22px 13px 22px;
        background-color: #ececec;
    }

}

@media only screen and (max-width: 992px) {
    .new  {
        display: flex;
        border-radius: 6px;
        border: solid 1px #979797;
        justify-content: space-between;
        column-gap: 5px;
    }

    .new  {
        text-decoration: none;
        color: #606060;
     }
    

     .new  .time-information {
        margin-top: 16px;
        display: flex;
        gap: 10px;
        padding-left: 15px;
        padding-bottom: 14px;
        font-size: 11px;
    }

    .new  .time-information .clock-icon img {
        width: 16px;
        height: 16px;
    }

     .new  .title {
        padding-left: 15px;
        font-size: 14px;
        margin-bottom: 23px;
    }



     .new  .heart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 22px 13px 22px;
        background-color: #ececec;
    }


}
@media only screen and (max-width: 768px) {
    .new  {
        display: flex;
        border-radius: 6px;
        border: solid 1px #979797;
        justify-content: space-between;
        column-gap: 5px;
    }

    .new  {
        text-decoration: none;
        color: #606060;
     }
    

     .new  .time-information {
        margin-top: 16px;
        display: flex;
        gap: 10px;
        padding-left: 15px;
        padding-bottom: 14px;
        font-size: 11px;
    }

    .new  .time-information .clock-icon img {
        width: 16px;
        height: 16px;
    }

     .new  .title {
        padding-left: 15px;
        font-size: 14px;
        margin-bottom: 23px;
    }



     .new  .heart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 22px 13px 22px;
        background-color: #ececec;
    }

     .new  .heart-icon img {
        width: 24px;
        height: 22px;
    }

   














}

@media only screen and (max-width: 600px) {

    .new  {
        display: flex;
        border-radius: 6px;
        border: solid 1px #979797;
        justify-content: space-between;
        column-gap: 5px;
    }

    .new  {
        text-decoration: none;
        color: #606060;
     }
    

     .new  .time-information {
        margin-top: 16px;
        display: flex;
        gap: 10px;
        padding-left: 15px;
        padding-bottom: 14px;
        font-size: 11px;
    }

    .new  .time-information .clock-icon img {
        width: 16px;
        height: 16px;
    }

     .new  .title {
        padding-left: 15px;
        font-size: 14px;
        margin-bottom: 23px;
    }



     .new  .heart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 22px 13px 22px;
        background-color: #ececec;
    }
    #small-empty-heart, #small-filled-heart, #small-clock {
        display: block;
    }


}