<article class="new" >
    <header>
        <div class="time-information">
            <picture class="clock-icon">
                <img src="../../../assets//iconmonstr-time-2.png" alt="clock image"/>
            </picture>
            <p>{{new.created_at}}</p>
        </div>
        <div class="title">
            <h4>{{new.story_title}}</h4>
        </div>
    </header>
    <picture class="heart-icon">
        <img src="../../../assets/iconmonstr-favorite-2.png" alt="">
    </picture>
</article>